#uv w celu zastapienia pip w predkosci

uv

# Przetwarzanie danych

pandas>=2.0.0
numpy>=1.24.0

# Uczenie maszynowe i podział danych

scikit-learn>=1.3.0

# Głębokie uczenie (Sieci Neuronowe)

torch>=2.0.0
torchinfo>=1.7.0
torchviz


# # XGBoost
# xgboost>=2.0.0

#  do wykresów (przydadzą się na koniec do raportu)

matplotlib>=3.7.0
seaborn>=0.12.0

# optymalizacja hiperparametrów modeli - zeby nie robic tego recznie

# optuna>=4.8.0 #nieżywamy tego chyba już
# joblib


# aplikacja na kamień 5
# streamlit


